extends master.pug
block head
    link(rel="stylesheet" href="../css/homePage.css")
    link(rel="stylesheet" href="../css/style.css")
block content
    div.project.d-flex.justify-content-center.flex-column.align-items-center.mt-3
        a(href="./about.pug") Project Name
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            //- a(href="./about.pug")  Ler mais
    hr.w-50
    div.feed.container-fluid.d-flex.flex-column
        div.header.d-flex.justify-content-between
            h2.ml-4 Feed
            a.btn.btn-outline-dark.btn-lg.btn-block.mt-4.align-self-end.d-flex.align-items-center.justify-content-center(href="./report.pug") Reportar
        div.interation.d-flex.flex-row.w-100
            div#mapIndex.w-50.m-3

            div.optionsReport.w-50.m-3.d-flex.flex-column.align-self-center
                ul.list-group.w-150.d-flex.news
                    //- Para reinderização de rss de noticias externas
block foot.sugestion
block script
    script(src="../js/main.js")

